.menu-enter-active {
    transition: all 0.3s ease-out;
    transition-delay: 0.3s;
}

.menu-leave-active {
    transition: all 0.3s ease-out;
}

.menu-enter,
.menu-leave-active {
    opacity: 0;
    transform: translateX(-100%);
}