.menu-enter-active,
.menu-leave-active {
    transition: all 0.3s ease-out;
}

.menu-enter,
.menu-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s ease-out;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
    transition: all 0.3s ease-out;
}

.slide-left-enter,
.slide-left-leave-active {
    opacity: 0;
    transform: translate3d(-150%, 0, 0) !important;
}

.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.3s ease-out;
}

.slide-right-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0) !important;
}