body,
html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Geometria', sans-serif;
}

main {
    flex-grow: 1;
    background-color: white;
}

* {
    box-sizing: border-box;
}

img {
    object-fit: cover;
    background-color: #f2f2f2;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    cursor: pointer;
}

@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: 100%;
    }
}

.app-shadow {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.app-container {
    padding-left: 64px;

    @media (max-width: $desktop-width) {
        padding-left: 0;
    }
}

.page-container {
    display: flex;
    flex-direction: column;
    min-width: 1046px;
    max-width: 1360px;
    padding: 60px;
    padding-top: 48px;
    margin-right: auto;

    @media (max-width: $desktop-width) {
        padding: 0 20px;
        padding-right: 0;
        min-width: auto;
    }
}

.page-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @media (max-width: $desktop-width) {
        border: none;
    }
}

.section {
    overflow: hidden;

    &__header {
        display: flex;
        align-items: baseline;
        margin-bottom: 32px;

        @media (max-width: $desktop-width) {
            padding-right: 20px;
        }

        @media (max-width: $tablet-width-sm) {
            flex-direction: column;
        }
    }

    &__title {
        margin-right: auto;

        @media (max-width: $desktop-width) {
            margin-bottom: 32px;
        }
    }
}

.section__controls {
    display: flex;
    align-self: center;

    @media (max-width: $desktop-width) {
        align-self: auto;
    }
}

.labels-row {
    display: flex;
    margin-top: 12px;
    margin-bottom: 8px;
}

.label {
    display: block;
    padding: 8px;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-right: 8px;
    color: white;
    font-size: 12px;
    line-height: 15px;
    border-radius: 2px;

    &--red {
        background-color: #C7382A;
    }

    &--blue {
        background-color: #0095BF;
    }

    &--black {
        background-color: black;
    }
}

.side-banner {
    display: none;
    cursor: pointer;

    @media (min-width: 1424px) {
        display: block;
        margin-left: auto;
    }
}

.tabs {
    display: flex;
    align-self: center;
    margin-right: auto;

    @media (max-width: $desktop-width) {
        margin-bottom: 24px;
    }

    .tab {
        position: relative;
        z-index: 0;
        margin-right: 32px;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        opacity: 0.6;
        transition: all 0.1s;
        outline: none;

        @media (max-width: $desktop-width) {
            margin-right: 18px;
        }

        @media (max-width: 360px) {
            font-size: 16px;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 6px;
            display: block;
            width: 0%;
            opacity: 0.2;
            height: 8px;
            background-color: #00e6de;
            transition: all 0.3s;
        }

        &.active {
            opacity: 1;
        }

        &.active::after {
            width: 100%;
        }


        @media (min-width: $desktop-width) {
            &:hover {
                opacity: 1;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

.social-nav {
    display: flex;
    align-items: center;

    @media (max-width: $desktop-width) {
        margin: 0 auto;
    }

    &__link {
        width: 20px;
        height: 20px;
        margin-right: 16px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        transition: 0.3s;

        &:hover {
            opacity: 0.5;
        }

        &:last-child {
            margin-right: 0;
        }

        &--vk {
            background-image: url('./assets/icons/vk.svg');
        }

        &--fb {
            background-image: url('./assets/icons/fb.svg');
        }

        &--inst {
            background-image: url('./assets/icons/insta.svg');
            background-size: 18px 18px;
        }

        &--ytb {
            background-image: url('./assets/icons/youtube.svg');
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.opacity-50 {
    opacity: 0.5;
}