body,
html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Geometria', sans-serif;
}

main {
    flex-grow: 1;
    background-color: white;
}

* {
    box-sizing: border-box;
}

img {
    object-fit: cover;
    background-color: #f2f2f2;
}

button {
    cursor: pointer;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.app-shadow {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.app-container {
    padding-left: 64px;

    @media (max-width: $desktop-width) {
        padding-left: 0;
    }
}

.page-container {
    display: flex;
    flex-direction: column;
    min-width: 1046px;
    max-width: 1360px;
    padding: 60px;
    padding-top: 48px;
    margin-right: auto;

    @media (max-width: $desktop-width) {
        padding: 0 20px;
        padding-right: 0;
        min-width: auto;
    }
}

.page-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @media (max-width: $desktop-width) {
        border: none;
    }
}

.section {
    overflow: hidden;

    &__header {
        display: flex;
        align-items: baseline;
        margin-bottom: 32px;

        @media (max-width: $desktop-width) {
            padding-right: 20px;
        }

        @media (max-width: $tablet-width-sm) {
            flex-direction: column;
        }
    }

    &__title {
        margin-right: auto;

        @media (max-width: $desktop-width) {
            margin-bottom: 32px;
        }
    }
}

.section__controls {
    display: flex;
}

.control-btn {
    position: relative;
    outline: none;
    display: block;
    height: 40px;
    min-width: 48px;
    margin: 0;
    padding: 9px 16px;
    -webkit-appearance: none;
    border: 2px solid black;
    opacity: 0.75;
    border-radius: 2px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    background-color: white;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        transition: 0.2s;
    }

    &:hover:after {
        background-color: rgba(255, 255, 255, 0.4);
    }

    &--prev {
        margin-right: -2px;
        background-image: url('./assets/icons/chevron-left.svg')
    }

    &--next {
        margin-right: 16px;
        background-image: url('./assets/icons/chevron-right.svg')
    }

    &--all {
        padding-right: 56px;
        background-image: url('./assets/icons/arrow-right.svg');
        background-position: right 20px center;

        &:hover:after {
            background-color: rgba(255, 255, 255, 0.3);
        }

        @media (max-width: 360px) {
            margin-left: auto;
            padding-right: 37px;
            background-position: right 7px center;
            font-size: 14px;
        }
    }
}

.labels-row {
    display: flex;
    margin-top: 12px;
    margin-bottom: 8px;
}

.label {
    display: block;
    padding: 8px;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-right: 8px;
    color: white;
    font-size: 12px;
    line-height: 15px;
    border-radius: 2px;

    &--red {
        background-color: #C7382A;
    }

    &--blue {
        background-color: #0095BF;
    }

    &--black {
        background-color: black;
    }
}

.side-banner {
    display: none;
    cursor: pointer;

    @media (min-width: 1440px) {
        display: block;
    }
}

.actions {
    display: flex;

    &__link {
        position: relative;
        margin-right: 40px;
        padding-left: 24px;
        font-size: 14px;
        line-height: 18px;
        opacity: 0.5;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &:last-child {
            margin-right: 0;
        }

        &--reviews::after {
            background-image: url('./assets/icons/eye.svg');
        }

        &--comments::after {
            background-image: url('./assets/icons/comment.svg');
        }

        &--subscribers::after {
            background-image: url('./assets/icons/go.svg');
        }
    }
}

.events-icon {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    &:last-child {
        margin-right: 0;
    }

    &--drama {
        background-image: url('./assets/icons/drama.png');
    }

    &--note {
        background-image: url('./assets/icons/note.png');
    }

    &--forms {
        background-image: url('./assets/icons/forms.png');
    }

    &--book {
        background-image: url('./assets/icons/book.png');
    }

    &--glasses {
        background-image: url('./assets/icons/glasses.png');
    }

    &--car {
        background-image: url('./assets/icons/car.png');
    }

    &--tv {
        background-image: url('./assets/icons/tv.png');
    }

    &--pic {
        background-image: url('./assets/icons/pic.png');
    }

    &--sun {
        background-image: url('./assets/icons/sun.png');
    }

    &--weights {
        background-image: url('./assets/icons/weights.png');
    }

    &--cocktail {
        background-image: url('./assets/icons/cocktail.png');
    }

    &--bag {
        background-image: url('./assets/icons/bag.png');
    }

    &--soup {
        background-image: url('./assets/icons/soup.png');
    }
}

.filter {
    display: flex;
    align-self: center;
    margin-right: auto;

    @media (max-width: $desktop-width) {
        margin-bottom: 24px;
    }

    &__button {
        position: relative;
        z-index: 0;
        margin-right: 32px;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        opacity: 0.6;
        transition: all 0.1s;
        outline: none;

        @media (max-width: $desktop-width) {
            margin-right: 18px;
        }

        @media (max-width: 360px) {
            font-size: 16px;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 6px;
            display: block;
            width: 0%;
            opacity: 0.2;
            height: 8px;
            background-color: #00e6de;
            transition: all 0.3s;
        }

        &.active,
        &:hover {
            opacity: 1;
        }

        &.active::after,
        &:hover::after {
            width: 100%;
        }
    }
}

.social-nav {
    display: flex;
    align-items: center;

    &__link {
        width: 20px;
        height: 20px;
        margin-right: 16px;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        &:last-child {
            margin-right: 0;
        }

        &--vk {
            background-image: url('./assets/icons/vk.svg');
        }

        &--fb {
            background-image: url('./assets/icons/fb.svg');
        }

        &--inst {
            background-image: url('./assets/icons/insta.svg');
            background-size: 18px 18px;
        }

        &--ytb {
            background-image: url('./assets/icons/youtube.svg');
        }
    }
}