@mixin icon {
    display: block;
    width: 24px;
    height: 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon {
    @include icon;

    &-help {
        background-image: url('./assets/icons/help.svg');
    }

    &-up {
        display: inline-block;
        margin-right: 12px;
        background-image: url('./assets/icons/chevron-left.svg');
        transform: rotate(90deg);
    }

    &-star {
        background-image: url('./assets/icons/star.svg');
    }

    &-bars {
        background-image: url('./assets/icons/bars.svg');
    }

    &-onair {
        background-image: url('./assets/icons/onair.svg');
    }

    &-vk {
        background-image: url('./assets/icons/vk.svg');
    }

    &-fb {
        background-image: url('./assets/icons/fb.svg');
    }

    &-google {
        background-image: url('./assets/icons/google.svg');
    }

    &-drama {
        background-image: url('./assets/icons/drama.png');
    }

    &-note {
        background-image: url('./assets/icons/note.png');
    }

    &-forms {
        background-image: url('./assets/icons/forms.png');
    }

    &-book {
        background-image: url('./assets/icons/book.png');
    }

    &-glasses {
        background-image: url('./assets/icons/glasses.png');
    }

    &-car {
        background-image: url('./assets/icons/car.png');
    }

    &-tv {
        background-image: url('./assets/icons/tv.png');
    }

    &-pic {
        background-image: url('./assets/icons/pic.png');
    }

    &-sun {
        background-image: url('./assets/icons/sun.png');
    }

    &-weights {
        background-image: url('./assets/icons/weights.png');
    }

    &-cocktail {
        background-image: url('./assets/icons/cocktail.png');
    }

    &-bag {
        background-image: url('./assets/icons/bag.png');
    }

    &-soup {
        background-image: url('./assets/icons/soup.png');
    }
}