input {
    height: 40px;
    width: 100%;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border-radius: 2px;
    border: none;
    background-color: #F2F2F2;
    appearance: none;
    outline: none;
    font-size: 16px;
    line-height: 24px;
}

.pass-wrapper {
    position: relative;
    margin-bottom: 12px;

    input {
        margin-bottom: 0;
    }

    .icon {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        display: block;
    }
}