.block-link-hover {
    &:hover {
        background-color: $gray-200;
    }

    &__divider {
        width: 1px;
        height: 40px;
        background-color: $gray-300;
        display: inline-block;
    }
}

.blured-bg {
    //   background-image: url(../src/assets/blured-logo.png);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: top right;
}