@import "custom-bootstrap";
@import "typography";

body,
html {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

main {
    flex-grow: 1;
    background-color: white;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.app-shadow {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.app-container {
    display: flex;
    align-items: stretch;
    max-width: 1440px;
}

.page-container {
    display: flex;
    flex-direction: column;
    // max-width: 1376px;
    min-height: 100vh;
    padding: 68px;
    padding-top: 48px;
    margin-left: auto;
    margin-right: auto;
}